<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qingweico.user.mapper.FansMapper">
  <resultMap id="BaseResultMap" type="cn.qingweico.pojo.Fans">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="writer_id" jdbcType="VARCHAR" property="writerId" />
    <result column="fan_id" jdbcType="VARCHAR" property="fanId" />
    <result column="face" jdbcType="VARCHAR" property="face" />
    <result column="fan_nickname" jdbcType="VARCHAR" property="fanNickname" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="province" jdbcType="VARCHAR" property="province" />
  </resultMap>
  <resultMap id="BaseResultMap" type="Fans">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="writer_id" jdbcType="VARCHAR" property="writerId" />
    <result column="fan_id" jdbcType="VARCHAR" property="fanId" />
    <result column="face" jdbcType="VARCHAR" property="face" />
    <result column="fan_nickname" jdbcType="VARCHAR" property="fanNickname" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="province" jdbcType="VARCHAR" property="province" />
  </resultMap>
</mapper>