<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qingweico.article.mapper.ArticleMapper">
	<resultMap id="BaseResultMap" type="cn.qingweico.pojo.Article">
		<id column="id" jdbcType="VARCHAR" property="id"/>
		<result column="title" jdbcType="VARCHAR" property="title"/>
		<result column="category_id" jdbcType="INTEGER" property="categoryId"/>
		<result column="article_type" jdbcType="INTEGER" property="articleType"/>
		<result column="article_cover" jdbcType="VARCHAR" property="articleCover"/>
		<result column="is_appoint" jdbcType="INTEGER" property="isAppoint"/>
		<result column="article_status" jdbcType="INTEGER" property="articleStatus"/>
		<result column="author" jdbcType="VARCHAR" property="authorId"/>
		<result column="summary" jdbcType="TIMESTAMP" property="summary"/>
		<result column="read_counts" jdbcType="INTEGER" property="readCounts"/>
		<result column="collect_counts" jdbcType="INTEGER" property="collectCounts"/>
		<result column="comment_counts" jdbcType="INTEGER" property="commentCounts"/>
		<result column="mongo_file_id" jdbcType="VARCHAR" property="mongoFileId"/>
		<result column="is_delete" jdbcType="INTEGER" property="isDelete"/>
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
		<result column="content" jdbcType="LONGVARCHAR" property="content"/>
		<result column="influence" jdbcType="VARCHAR" property="influence"/>
	</resultMap>

	<update id="timedPublishArticle">
		update
			article
		set is_appoint = 0
		where publish_time &lt;= NOW()
		  and is_appoint = 1;
	</update>
	<select id="getArticleByTime" resultMap="BaseResultMap">
		SELECT *
		from t_article
		where DATE_FORMAT(create_time, '%Y-%m') = #{yearAndMonth} limit #{pageNumber}
			, #{pageSize};
	</select>

	<select id="queryArchiveTimeList" resultType="java.lang.String">
		SELECT DATE_FORMAT(create_time, '%Y-%m') as `timestamp`
		from t_article
		where author_id = #{userId}
		GROUP BY MONTH (create_time), YEAR (create_time)
		ORDER by timestamp DESC;
	</select>
</mapper>