<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qingweico.article.mapper.HistoryMapper">
	<resultMap id="BaseResultMap" type="cn.qingweico.pojo.Article">
		<id column="id" jdbcType="VARCHAR" property="id"/>
		<result column="user_id" jdbcType="VARCHAR" property="userId"/>
		<result column="article_id" jdbcType="VARCHAR" property="articleId"/>
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
	</resultMap>
	<delete id="deleteHistoryByTime">
		delete t_history where id = #{userId} and create_time &lt;= #{time}
	</delete>

</mapper>