<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="FansMapper" >
  <resultMap id="BaseResultMap" type="Fans" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="writer_id" property="writerId" jdbcType="VARCHAR" />
    <result column="fan_id" property="fanId" jdbcType="VARCHAR" />
    <result column="face" property="face" jdbcType="VARCHAR" />
    <result column="fan_nickname" property="fanNickname" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="province" property="province" jdbcType="VARCHAR" />
  </resultMap>
</mapper>