<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qingweico.article.mapper.ArticleMapper">
  <resultMap id="BaseResultMap" type="cn.qingweico.pojo.Article">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="article_type" jdbcType="INTEGER" property="articleType" />
    <result column="article_cover" jdbcType="VARCHAR" property="articleCover" />
    <result column="is_appoint" jdbcType="INTEGER" property="isAppoint" />
    <result column="article_status" jdbcType="INTEGER" property="articleStatus" />
    <result column="publish_user_id" jdbcType="VARCHAR" property="publishUserId" />
    <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime" />
    <result column="read_counts" jdbcType="INTEGER" property="readCounts" />
    <result column="comment_counts" jdbcType="INTEGER" property="commentCounts" />
    <result column="mongo_file_id" jdbcType="VARCHAR" property="mongoFileId" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <resultMap id="BaseResultMap" type="cn.qingweico.pojo.Article">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="article_id" jdbcType="INTEGER" property="articleId" />
    <result column="article_user_id" jdbcType="INTEGER" property="articleUserId" />
    <result column="article_title" jdbcType="VARCHAR" property="articleTitle" />
    <result column="article_view_count" jdbcType="INTEGER" property="articleViewCount" />
    <result column="article_comment_count" jdbcType="INTEGER" property="articleCommentCount" />
    <result column="article_like_count" jdbcType="INTEGER" property="articleLikeCount" />
    <result column="article_is_comment" jdbcType="INTEGER" property="articleIsComment" />
    <result column="article_status" jdbcType="INTEGER" property="articleStatus" />
    <result column="article_order" jdbcType="INTEGER" property="articleOrder" />
    <result column="article_update_time" jdbcType="TIMESTAMP" property="articleUpdateTime" />
    <result column="article_create_time" jdbcType="TIMESTAMP" property="articleCreateTime" />
    <result column="article_content" jdbcType="LONGVARCHAR" property="articleContent" />
    <result column="article_summary" jdbcType="LONGVARCHAR" property="articleSummary" />
  </resultMap>
</mapper>